<h1 class="display-2 text-center text-primary">Admin cart control panel</h1>
<h3 class="display-6 text-center">Select cart from users:</h3>
<div class="row justify-content-center m-4">
  {{#each carts}}
    <div
      class="card col-4 m-2 bg-secondary"
      onclick="document.location.href='carts/{{this._id}}'"
      style="cursor: pointer;"
    >
      <p>User: {{this.owner}}</p>
      <p>Cart id: {{this._id}}</p>
    </div>
  {{/each}}
</div>