<div class="chat-container">
  <h2>Real Time Chat</h2>
  <main class="chat-messages scrollbar-hidden" id="chat-messages">
    {{#each messages}}
    <div class="message" id="{{this._id}}" data-user="{{this.user}}">
      <div class="message-user">
        <span class="message-username">{{this.user}}</span>
      </div>
      <div class="message-content">
        <p>{{this.message}}</p>
      </div>
    </div>
    {{/each}}
  </main>
  <form class="chat-input" id="chat-input" action="javascript:sendMessage()">
    <textarea
      name="message"
      id="message"
      placeholder="Type your message..."
      class="chat-input-field"></textarea>
    <button type="submit" class="chat-send-button">
      <i class="bi bi-send-fill"></i>
    </button>
  </form>
</div>
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
<script src="js/chat.js"></script>
{{>alerts}}