<!-- HTML -->
<div class="d-flex justify-content-center">
  <form id="loginForm" class="text-center" action="/api/sessions/login" method="post">
    <h1 class="display-1 mb-4">Sign in</h1>
    <!-- Email input -->
    <div class="form-floating mb-3">
      <input type="email" name="email" id="email" class="form-control" placeholder="name@example.com" required />
      <label for="email">Email</label>
    </div>
    <!-- Password input -->
    <div class="form-floating mb-3">
      <input type="password" name="password" id="password" class="form-control" placeholder="password" required />
      <label for="password">Password</label>
    </div>
    <div id="errorMessage" class="text-wrap text-danger" style="display: none;"></div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">
      <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
      Sign in
    </button>
    <!-- Register button -->
    <div class="text-center">
      <p>Not a member? <a href="register">Register</a></p>
    </div>
    <div class="text-center">
      <p><a href="resetpassword">Forgot your password?</a></p>
    </div>
    <div>
      <p class="mb-0">Or sign in with</p>
      <a href="/api/sessions/github" class="btn js-oauth-link"><i class="bi bi-github"></i></a>
      <a href="/api/sessions/google" class="btn js-oauth-link"><i class="bi bi-google"></i></a>
    </div>
  </form>
</div>

<!-- JavaScript -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('loginForm');
    const submitButton = form.querySelector('button[type="submit"]');
    const spinner = submitButton.querySelector('.spinner-border');
    const errorMessageDiv = document.getElementById('errorMessage');

    form.addEventListener('submit', async function (e) {
      e.preventDefault();
      await submitForm(form);
    });

    async function submitForm(form) {
      const formData = Object.fromEntries(new FormData(form));
      const url = form.action;
      const method = form.method;

      // Show spinner
      spinner.classList.remove('d-none');
      submitButton.disabled = true;

      const response = await fetch(url, {
        method: method,
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData)
      });
      response.json().then(data => {
        if (response.ok) {
          window.location.href = "/profile";
        } else {
          throw new Error(data.message || 'An error occurred');
        }
      })
        .catch(error => {
          errorMessageDiv.textContent = error.message;
          errorMessageDiv.style.display = 'block';
        })
        .finally(() => {
          // Hide spinner
          spinner.classList.add('d-none');
          submitButton.disabled = false;
        });
    }

    // Handle OAuth links
    const oauthLinks = document.querySelectorAll('.js-oauth-link');
    oauthLinks.forEach(link => {
      link.addEventListener('click', function (e) {
        e.preventDefault();
        window.location.href = this.href;
      });
    });
  });
</script>
