{{#if error}}
    <h1 class="display-6 my-4 text-center text-danger">{{message}}</h1>
{{else}}
<h1 class="display-6 my-4 text-center text-info">{{message}}</h1>
{{/if}}
{{#if p}}
<p class="text-center">{{p}}</p>
{{/if}}